@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&family=Oswald:wght@200;300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: #111111;
  font-family: "Space Mono", monospace;
  color: #ffff;
}
::selection {
  color: #000;
  background-color: #fff;
}
:root {
  --text-color: #fff;
  --text-color-dark: #111111;
  --bg-white: #fff;
}
.pd-7 {
  padding: 7rem 0;
}
/* preaload-sation */
#preaload-sation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: #111111;
  z-index: 99999999;
}
.pl {
  display: block;
  width: 5em;
  height: 5em;
}
.pl__ring,
.pl__ball1,
.pl__ball2 {
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: 32px 32px;
}
.pl__ring {
  animation-name: ring;
}
.pl__ball1 {
  animation-name: ball1;
}
.pl__ball2 {
  animation-name: ball2;
}

/* Animation */
@keyframes ring {
  from {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(135deg);
  }
  15% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -122.52;
    transform: rotate(90deg);
  }
  35% {
    animation-timing-function: ease-out;
    stroke-dashoffset: -65.34;
    transform: rotate(297.5deg);
  }
  55% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(505deg);
  }
  70% {
    animation-timing-function: ease-in-out;
    stroke-dashoffset: -122.52;
    transform: rotate(490deg);
  }
  85%,
  to {
    stroke-dashoffset: -122.52;
    transform: rotate(497.5deg);
  }
}
@keyframes ball1 {
  from {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-7deg);
  }
  60% {
    transform: rotate(399deg);
  }
  75% {
    transform: rotate(361deg);
  }
  90%,
  to {
    transform: rotate(374deg);
  }
}
@keyframes ball2 {
  from {
    transform: rotate(-21deg);
  }
  25% {
    transform: rotate(-47deg);
  }
  60% {
    transform: rotate(364deg);
  }
  75% {
    transform: rotate(326deg);
  }
  90%,
  to {
    transform: rotate(339deg);
  }
}
/* navbar */
.navbar {
  font-family: "Oswald", sans-serif;
  padding: 0;
  background-color: transparent;
}
.navbar-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #111111ad;
  border-bottom: 1px solid #222;
  z-index: 99999;
  backdrop-filter: blur(10px);
}
.navbar .navbar-brand {
  font-size: 25px;
  color: var(--text-color);
}
.navbar .nav-item {
  padding: 8px 18px;
}
.navbar .nav-link {
  font-size: 22px;
  color: var(--text-color);
  border-bottom: 2px solid transparent;
  padding: 0;
  transition: 0.5s;
  position: relative;
}
.navbar .nav-link::before {
  content: "";
  position: absolute;
  right: 0;
  top: 30px;
  bottom: 0;
  width: 0px;
  background: var(--bg-white);
  transition: 0.5s;
}
.navbar .nav-link:hover:before {
  width: 100%;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 30px;
  width: 0px;
  background: var(--bg-white);
  transition: 0.5s;
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.btn-close:focus {
  box-shadow: none;
}
.navbar .navbar-toggler {
  color: var(--text-color);
}
.offcanvas {
  background-color: #ffffff21;
  backdrop-filter: blur(5px);
}
/* herosection section*/
.section {
  overflow: hidden;
  background: linear-gradient(-45deg, #0c0c0c, #54586178, #0c0c0c, #54586178);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.sections {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sections::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #111111, transparent);
  z-index: 1000;
}
.sections img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
.sections img#moon {
  filter: drop-shadow(0px 0px 7px rgba(255, 255, 255, 0.685));
}
.nouvil {
  position: absolute;
  top: 100px;
  font-size: 0px;
  font-weight: 700;
}
.sections img#mountains_front {
  z-index: 10;
}

#text {
  position: absolute;
  right: -250px;
  color: #fff;
  white-space: nowrap;
  font-size: 7.5vw;
  font-weight: bold;
  z-index: 9;
}
.custom {
  display: inline-block;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
  margin-left: 15px;
}
.sec {
  position: relative;
  z-index: 100;
}
/*     */
.text-animention {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  box-sizing: content-box;
  height: 35px;
  justify-content: center;
  transform: translateY(100px);
}
.words {
  overflow: hidden;
  height: 100px;
}
.words span {
  display: block;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 25px;
  animation: text-animantion 6s infinite;
}
@keyframes text-animantion {
  10% {
    transform: translateY(-112%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-212%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-312%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-412%);
  }
  100% {
    transform: translateY(-400%);
  }
}
/* ABOUT */
.abot-left {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.abot-left img {
  width: 100%;
}
.title {
  display: flex;
  align-items: center;
  height: 100vh;
  position: sticky;
  top: 0;
}
.about-right {
  margin-bottom: 5rem;
}
.left-wh-bar {
  position: relative;
}
.left-wh-bar::before {
  content: "";
  position: absolute;
  background-color: var(--text-color);
  width: 2px;
  height: 100%;
  border-radius: 3px;
  top: 0;
  left: 12px;
  z-index: -1;
}
.scroll .scroll-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  height: 100vh;
}
.about-right h2 {
  font-weight: 700;
  letter-spacing: 3px;
  font-size: 32px;
}
.about-right .item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.about-right .item li {
  margin-bottom: 15px;
}
.about-right .item li .content-brbr {
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 8px;
  background: #333333;
  margin: 0;
}
.about-right .bfr-icn {
  margin-left: -50px;
  z-index: 1;
  margin-top: -52px;
}
.bfr-icn .rounde {
  width: 40px;
  height: 40px;
  background: var(--text-color);
  border-radius: 50%;
  margin-left: 3px;
}
.bfr-icn .rounde p {
  color: #111111;
  font-size: 22px;
  text-align: center;
  line-height: 40px;
}
.icon {
  list-style: none;
}
.icon li {
  float: left;
  background: #333;
  padding: 0px 10px;
  margin-right: 55px;
  margin-left: -33px;
  border-radius: 5px;
  transition: 0.5s;
}
.icon li:hover {
  background: #fff;
}
.icon li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  transition: 0.5s;
}
.icon li:hover a {
  color: #111111;
}
/* sevricesation */
.servicesation {
  background-image: linear-gradient(125deg, #000, #525252, #fff, #000);
  background-size: 400%;
  color: var(--text-color);
}
.servicesation .service-head {
  margin-bottom: 5rem;
}
.services-item {
  background: #333333;
  padding: 15px 10px 0px 10px;
  height: 95%;
  border-radius: 1em;
  border: 1px solid;
  margin: 10px;
}
.services-item .service-icon {
  width: 100px;
  height: 100px;
  background: var(--text-color);
  color: var(--text-color-dark);
  font-size: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto 20px;
}
.services-item .service-conntent {
  margin: 10px;
}
.services-item .service-conntent h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
/* progresssation */
.skill-head {
  margin-bottom: 5em;
}
/* circuler prgs */
.circuler-progres {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#ffffff38 0deg, #36363640 0);
  margin: 0 auto;
}
.circuler-progres::before {
  content: "";
  position: absolute;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #111111;
}
.circuler-progres .progress-value {
  position: relative;
  font-weight: 700;
  color: #fff;
}
.circuler-progres .progress-title {
  position: absolute;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
/*inline prgs*/
.line-progress {
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.line-progress h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 25px;
}
.progress-outline {
  width: 100%;
  float: left;
  height: 5px;
  box-shadow: none;
  border: 1px solid #e2e2e27d;
  border-radius: 10px;
}
.progress-inline {
  background-color: var(--text-color);
  height: 3px;
  width: 0px;
  border-radius: 10px;
}
/*portfolio*/
.portfoliosation {
  background-color: #000;
}
.portfolio {
  background: #333333;
  border-radius: 20px;
  padding: 2em 1em;
}
.inner-portfolio::-webkit-scrollbar {
  width: 5px;
}
.inner-portfolio::-webkit-scrollbar-thumb {
  background-color: var(--text-color-dark);
  border-radius: 25px;
}
.inner-portfolio::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0.295);
  border-radius: 25px;
}
.inner-portfolio {
  height: 60vh;
  overflow: hidden;
  overflow-y: scroll;
}
.inner-portfolio .card {
  color: var(--text-color-dark);
}
.gallery-item .height {
  height: 90%;
}
.gallery-item {
  cursor: pointer;
}

/*      **/
.for-hover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.gallery-item .for-hover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hover-item {
  color: #fff;
  position: absolute;
  background: #000000ab;
  width: 100%;
  height: 100%;
  top: 30rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hover-item h1 {
  font-size: 22px;
  margin-bottom: 15px;
}
.hover-item span {
  background: black;
  width: 50px;
  height: 50px;
  font-size: 25px;
  line-height: 48px;
  border-radius: 50%;
}
.card:hover .hover-item {
  top: 0;
}
/*portfolio list**/
.gallery-filter ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.gallery-filter ul li {
  font-size: 20px;
  padding: 1px 10px;
  margin: 0px 10px;
  position: relative;
  cursor: pointer;
}
.gallery-filter ul li::before {
  content: "";
  position: absolute;
  top: -3px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background: var(--bg-white);
  transition: 0.5s;
}
.gallery-filter ul li:hover::before {
  width: 100%;
}
.gallery-filter ul li::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  width: 0;
  height: 3px;
  background: var(--bg-white);
  transition: 0.5s;
}
.gallery-filter ul li:hover::after {
  width: 100%;
}
.portfolio-active {
  border-bottom: 3px solid var(--bg-white);
  border-top: 3px solid var(--bg-white);
}
.gallery-item.show {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.gallery-item.hide {
  display: none;
}
.gallery-item-inner {
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 225px;
}
.gallery-item-inner img {
  width: 100%;
}
/* popup */
.popup .overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}
.popup .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--text-color-dark);
  color: var(--text-color);
  width: 50%;
  height: 70%;
  border-radius: 10px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
}
.popup .content::-webkit-scrollbar {
  width: 5px;
}
.popup .content::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 25px;
}
.popup .content::-webkit-scrollbar-track {
  background-color: var(--text-color-dark);
  border-radius: 25px;
}
.popup .close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}
.popup.active .overlay {
  display: block;
}
.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}
.popups .head {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.popups .head .left {
  text-align: left;
}
.popups .head h5 {
  font-size: 16px;
}
.popups .head a {
  font-weight: bold;
}
.popups .image img {
  width: 100%;
  border-radius: 5px;
}
.popups h1 {
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}
/*slidersation*/
/*testimonial*/
.slidersation {
  background: #000000;
}
.testimonial {
  perspective-origin: 50% 50%;
  perspective: 160em;
  background: black;
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-height: 35rem;
  position: relative;
  counter-reset: bubble 0;
  overflow: hidden;
}
.testimonial::after {
  position: absolute;
  pointer-events: none;
  inset: 0;
  content: "";
}
.testimonial .testimonials {
  --rotation: 0deg;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: flex-end;
  height: 100%;
  transform: translateY(calc(-50% + 140px))
    translateZ(calc(var(--distance) * -1)) rotateY(var(--rotation));
  transition: transform ease-in-out 1s;
  transform-style: preserve-3d;
}
.testimonial .arrow-left,
.testimonial .arrow-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: white;
  z-index: 2;
  background: black;
  padding: 5px;
}
.testimonial .arrow-left {
  left: 0px;
}
.testimonial .arrow-right {
  right: 0px;
}
.testimonial .navigation {
  position: absolute;
  bottom: 5em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 3px;
  cursor: pointer;
}
.testimonial .navigation .nav-dot {
  padding: 3px;
  background: black;
  border: 1px solid white;
  border-radius: 50%;
}
.testimonial .navigation .focused {
  background: white;
  transform: scale(1.4);
  margin: 0px 3px;
}
.chat-bubble {
  padding: 2em;
  width: 350px;
  background-color: #333333;
  color: #ffff;
  border-radius: 1em;
  position: absolute;
  transform: translateX(-50%) rotateY(var(--rotation))
    translateZ(var(--distance));
  transition: filter 1s ease;
  box-shadow: 0 0 10px #0004;
  backface-visibility: hidden;
  height: 70%;
}
.chat-bubble i {
  font-size: 30px;
  color: #aaa;
  margin-bottom: 0.5em;
}
.chat-bubble .person {
  margin-top: 1em;
}
.chat-bubble .slider-img {
  grid-row: 1/-1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #42424273;
}
.chat-bubble .name {
  font-weight: bold;
  align-self: end;
}
.chat-bubble .role {
  align-self: start;
}
.chat-bubble .stars {
  color: #ffa500;
}
/* contactsection */
.contactsection .left {
  margin-bottom: 10rem;
}
.contactsection .left h5 {
  font-size: 18px;
  font-weight: bold;
}
.contactsection .left h4 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffffd1;
}
.contactsection .right h1 {
  font-size: 35px;
  margin-bottom: 1.8rem;
}
.contactsection .right .form-group {
  position: relative;
  margin-bottom: 30px;
}
.form-control {
  background-color: transparent;
  border: 2px solid #aaa;
  color: #fff;
}
.form-control:focus {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffff;
  box-shadow: none;
}
.contactsection .right .form-group .icon-control {
  position: relative;
}
.form-group .icon {
  position: absolute;
  top: 13px;
  right: 20px;
  visibility: hidden;
}
.contactsection .right .form-group.error .icon {
  color: #e74c3c;
  visibility: visible;
}
.form-group.error .form-control {
  border-color: #e74c3c;
}
.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}
.contactsection .right .form-group small {
  position: absolute;
  color: #e74c3c;
  visibility: hidden;
}
.contactsection .right .form-group.error small {
  visibility: visible;
}
.contactsection .right .form-group .custom {
  background: #ffff;
  color: black;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: 0.3s;
  margin-top: -185px;
  margin-left: 0;
}
.contactsection .right .form-group .custom:hover {
  background-color: rgba(255, 255, 255, 0.733);
}
/* footersection */
.footersection {
  background: #000;
  border-top: 2px solid #000;
  padding-top: 10px;
  font-size: 18px;
}
/* scroll btn */

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.vissable {
  opacity: 1;
  visibility: visible;
}
.gototop a {
  width: 50px;
  height: 50px;
  display: table;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  font-size: 20px;
  line-height: 44px;
  transition: 0.3s;
}
.gototop a:hover {
  background: #fff;
  color: #000;
}
/*MEEDIA QUARY*/
@media only screen and (max-width: 767px) {
  .title {
    height: auto;
  }
  .scroll .scroll-item {
    height: auto;
  }
  .herosection .right {
    right: 0;
  }
  .herosection .right img {
    width: 100%;
  }
  .chat-bubble {
    backface-visibility: visible;
  }
  .popup .content {
    width: 90%;
  }
}
.emial-send {
  visibility: hidden;
}
.emial-send.vissable {
  visibility: visible;
  opacity: 10;
}
